@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*
    파일명 : main.css
    작성자 : 윤서하
    작성일 : 24.05.05
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/
.container {
    margin-top: 100px;
}
.visual {
    padding: 70px 0 200px;
    background: url(../images/main/main_bg.png) no-repeat right bottom / contain;
    display: flex;
}
.visual .swiper ul > li > a {
    width: 870px;
    height: 100%;
}
.visual .swiper ul > li > a > img {
    display: block;
    border-radius: 20px;
    object-fit:cover; 
}
.visual .swiper {
    position: relative;
}
.visual .swiper .popup {
    display: flex;
    justify-content: space-between;
}
.visual .swiper .popup span {
    font-size: 20px;
    color: #fff;
    z-index: 11;
}
.visual .swiper .ctrl_btn {
    position: absolute;
    right:50%; 
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 5px 0;
}
.visual .ctrl_btn::after {
    position: absolute;
    background-color: #0F3799;
    width: 337px;
    height: 80px;
    right: 0;
    bottom: -20px;
    z-index: -1;
    content: "";
    border-radius: 20px 0 20px 0;
}
.visual .swiper .ctrl_btn button {
    width: 28px;
    height: 28px;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.892 15.778'%3E%3Cpath id='chevron_right_FILL0_wght300_GRAD0_opsz24' d='M352.567-685.877l-6.015-6.015a1.07,1.07,0,0,1-.314-.771,1.044,1.044,0,0,1,.314-.785,1.059,1.059,0,0,1,.778-.321,1.06,1.06,0,0,1,.778.321l6.637,6.637a1.224,1.224,0,0,1,.292.437,1.419,1.419,0,0,1,.085.5,1.42,1.42,0,0,1-.085.5,1.224,1.224,0,0,1-.292.437l-6.637,6.637a1.071,1.071,0,0,1-.771.314,1.044,1.044,0,0,1-.785-.314,1.059,1.059,0,0,1-.321-.778,1.059,1.059,0,0,1,.321-.778Z' transform='translate(355.123 -677.991) rotate(180)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-size: 9px auto;
}
.visual .ctrl_btn .next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.892 15.778'%3E%3Cpath id='chevron_right_FILL0_wght300_GRAD0_opsz24' d='M352.567-685.877l-6.015-6.015a1.07,1.07,0,0,1-.314-.771,1.044,1.044,0,0,1,.314-.785,1.059,1.059,0,0,1,.778-.321,1.06,1.06,0,0,1,.778.321l6.637,6.637a1.224,1.224,0,0,1,.292.437,1.419,1.419,0,0,1,.085.5,1.42,1.42,0,0,1-.085.5,1.224,1.224,0,0,1-.292.437l-6.637,6.637a1.071,1.071,0,0,1-.771.314,1.044,1.044,0,0,1-.785-.314,1.059,1.059,0,0,1-.321-.778,1.059,1.059,0,0,1,.321-.778Z' transform='translate(-346.231 693.769)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-size: 9px auto;
}
.visual .ctrl_btn .play {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.646 12.957'%3E%3Cpath id='play_arrow_FILL0_wght300_GRAD0_opsz24' d='M340-682.058v-10.767a1.03,1.03,0,0,1,.329-.788,1.086,1.086,0,0,1,.766-.307,1.112,1.112,0,0,1,.289.04,1.226,1.226,0,0,1,.289.119l8.475,5.4a1.13,1.13,0,0,1,.374.407,1.1,1.1,0,0,1,.125.517,1.1,1.1,0,0,1-.125.517,1.13,1.13,0,0,1-.374.408l-8.475,5.4a1.228,1.228,0,0,1-.289.119,1.132,1.132,0,0,1-.289.039,1.086,1.086,0,0,1-.766-.308A1.03,1.03,0,0,1,340-682.058ZM341.818-687.442Zm0,4.058,6.383-4.058-6.383-4.058Z' transform='translate(-340.001 693.921)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-size: 12px auto;
    display: none;
}
.visual .ctrl_btn .stop {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.689 11.689'%3E%3Cpath id='pause_FILL0_wght300_GRAD0_opsz24' d='M228.318-728.31a1.3,1.3,0,0,1-.95-.4,1.3,1.3,0,0,1-.4-.95v-8.991a1.3,1.3,0,0,1,.4-.95,1.3,1.3,0,0,1,.95-.4h2.023a1.3,1.3,0,0,1,.95.4,1.3,1.3,0,0,1,.4.95v8.991a1.3,1.3,0,0,1-.4.95,1.3,1.3,0,0,1-.95.4Zm-6.968,0a1.3,1.3,0,0,1-.95-.4,1.3,1.3,0,0,1-.4-.95v-8.991a1.3,1.3,0,0,1,.4-.95,1.3,1.3,0,0,1,.95-.4h2.023a1.3,1.3,0,0,1,.95.4,1.3,1.3,0,0,1,.4.95v8.991a1.3,1.3,0,0,1-.4.95,1.3,1.3,0,0,1-.95.4Zm6.968-1.349h2.023v-8.991h-2.023Zm-6.968,0h2.023v-8.991H221.35Zm0-8.991v0Zm6.968,0v0Z' transform='translate(-220.001 739.999)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-size: 11px auto;
}

.cts_brochure .board_head .search .inner {
    display: flex;
    justify-content: flex-end;
}
.cts_brochure .board_head .search select {
    height: 40px;
    width: 120px;
    padding-left: 10px;
    border: 1px solid #999;
    outline: 0;
    border-radius: 5px;
}
.cts_brochure .board_head .search label {
    display: none;/* 숨김 */
}
.cts_brochure .board_head .search input[type="text"] {
    width: 277px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: 0;
    margin: 0 5px;
    padding: 0 10px;
}
.cts_brochure .board_head .search input[type="submit"] {
    width: 77px;
    height: 40px;
    background-color: #3D3D3D;
    color: #fff;
    border-radius: 5px;
}
@media screen and (max-width:1024px){
    .cts_brochure .board_head {
        display: block;
    }
    .cts_brochure .board_head .search {
        margin-top: 5px;
    }
    .cts_brochure .board_head .search .inner2 {
        display: flex;
        justify-content: flex-end;
    }
    .cts_brochure .board_head .search .inner {
        max-width: 478px;
        width: 100%;
    }
    .cts_brochure .board_head .search input[type="text"] {
        width: calc(100% - 145px);
    }
    .cts_brochure .board_head .search select {
        width: 100px;
        height: 30px;
        width: auto;
        padding-left: 5px;
    }
    .cts_brochure .board_head .search input[type="text"] {
        height: 30px;
        padding: 0 5px;
    }
    .cts_brochure .board_head .search input[type="submit"] {
        width: 50px;
        height: 30px;
    }
}
.visual .visual_side .school {
    display: flex;
}


@media screen and (max-width:1640px){
    .visual .visual_cnt {
        left: 160px;
        top: 240px;
    }
    .visual .visual_cnt h2{
        margin-bottom: 18px;
    }
    .visual .visual_cnt span {
        margin-bottom: 26px;
    }
    .visual .visual_cnt .more {
        width: 140px;
        padding: 0 0 0 26px;
    }
    .visual .visual_cnt .more::before {
        right: 16px;
        top: 8px;
        width: 26px;
        height: 26px;
        background-size: 26px auto;
    }
}
@media screen and (max-width:1320px) {
    .visual .visual_cnt {
        left: 140px;
        top: 260px;
    }
}
@media screen and (max-width:1024px){
    .visual .visual_cnt {
        left: 120px;
        top: 280px;
    }
    .visual .visual_cnt h2{
        margin-bottom: 16px;
    }
    .visual .visual_cnt span {
        margin-bottom: 24px;
    }
    .visual .visual_cnt .more {
        width: 130px;
        padding: 0 0 0 24px;
        line-height: 40px;
    }
    .visual .visual_cnt .more::before {
        right: 20px;
        top: 8px;
        width: 24px;
        height: 24px;
        background-size: 24px auto;
    }
}
@media screen and (max-width:768px){
    .visual .visual_cnt {
        left: 70px;
        top: 290px;
    }
}
@media screen and (max-width:500px){
    .visual .visual_cnt {
        position: absolute;
        left: 20px;
        top: 300px;
    }
    .visual .visual_cnt h2{
        margin-bottom: 14px;
    }
    .visual .visual_cnt span {
        margin-bottom: 22px;
    }
    .visual .visual_cnt .more {
        width: 110px;
        padding: 0 0 0 24px;
        line-height: 38px;
    }
    .visual .visual_cnt .more::before {
        right: 13px;
        top: 8px;
        width: 22px;
        height: 22px;
        background-size: 22px auto;
    }
}

.side_btn {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    top: 45px;
    right: 190px;
    line-height: 60px;
}
.side_btn .reserve {
    width: 194px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(to right, #FFC618, #FFA300);
    color: #1d1d1d;
    text-align: center;
    font-size: 1.176rem;
    font-weight: 700;
    margin-right: 33px;
    cursor: pointer;
}
.side_btn .side {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #fff;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}
.side_btn .side::before {
    position: absolute;
    left: 12px;
    top: 10px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/main/top.svg);
    content: "";
}

@media screen and (max-width:1640px){
     .side_btn {
        top: 42px;
        right: 100px;
        line-height: 50px;
    }
    .side_btn .reserve {
        width: 180px;
        height: 50px;
        border-radius: 50px;
        margin-right: 28px;
    }
    .side_btn .side {
        width: 50px;
        height: 50px;
    }
    .side_btn .side::before {
        left: 9px;
        top: 10px;
        width: 32px;
        height: 32px;
    }
    
}
@media screen and (max-width:1320px){
    .side_btn {
        top: 42px;
        right: 70px;
        line-height: 40px;
    }
    .side_btn .reserve {
        width: 170px;
        height: 40px;
        border-radius: 40px;
        margin-right: 24px;
    }
    .side_btn .side {
        width: 40px;
        height: 40px;
    }
    .side_btn .side::before {
        left: 8px;
        top: 8px;
        width: 26px;
        height: 26px;
    }
}
@media screen and (max-width:1024px){
    .side_btn {
        top: 42px;
        right: 50px;
        line-height: 40px;
    }
    .side_btn .reserve {
        width: 160px;
        height: 40px;
        border-radius: 40px;
        margin-right: 20px;
    }
    .side_btn .side {
        width: 40px;
        height: 40px;
    }
    .side_btn .side::before {
        left: 7px;
        top: 8px;
        width: 26px;
        height: 26px;
    }
}

@media screen and (max-width:768px){
    .side_btn {
        top: 42px;
        right: 20px;
        line-height: 35px;
    }
    .side_btn .reserve {
        width: 140px;
        height: 35px;
        border-radius: 40px;
        margin-right: 10px;
    }
    .side_btn .side {
        width: 35px;
        height: 35px;
    }
    .side_btn .side::before {
        left: 7px;
        top: 7px;
        width: 20px;
        height: 20px;
    }
}

.show {
    margin: 120px 0 0 0;
    height: 750px;
}
.show .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.show h2 {
    font-size: 0;
    line-height: 0;
}
.show .list ul{
    display: flex;
}
.show .list > ul > li > button {
    padding: 12px 37px;
    font-size: 2.941rem;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
}
.show .list > ul > li.active > button {
    background: linear-gradient(to right top, #FFC618, #FFA300);
    color: transparent;
    -webkit-background-clip: text;
}
.show .list > ul > li > button::before {
    position: absolute;
    right: -2px;
    top: 22px;
    width: 1px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
}
.show .list > ul > li > button.last:before {
    display: none;
}
.show .list > ul > li .detail {
    position: absolute;
    left: 0;
    top: 100px; /* tab버튼에서 부터의 측정 */
    width: 100%;
    display: none;
}
.show .list > ul > li.active .detail {
    display: block;
}
.show .list > ul > li .detail ul {
    display: flex;
    justify-content: space-between;
}
.show .list > ul > li .detail ul li {
    width: 500px;
}
.show .list > ul > li .detail ul li a {
    display: block;
}
.show .list > ul > li .detail ul li a span {
    display: block;
    width: 500px;
    height: 500px;
    overflow: hidden; 
}
.show .list > ul > li .detail ul li a span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.show .list > ul > li .detail ul li a:hover span img {
    transform: scale3d(1.2, 1.2, 1);
}
.show .list > ul > li .detail ul li a strong {
    display: block;
    margin: 32px 0 10px 0;
    font-size: 1.176rem;
    font-weight: 700;
}
.show .list > ul > li .detail ul li a h3 {
    font-size: 1.764rem;
    font-weight: 700;
    margin: 0 0 16px 0;
    white-space: nowrap; /* 줄바꿈 금지 */
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s;
}
.show .list > ul > li .detail ul li a:hover h3 {
    background: linear-gradient(to right top, #FFC618, #FFA300);
    color: transparent;
    -webkit-background-clip: text;
    transition: 0.5s;
}
.show .list > ul > li .detail .more {
    position: absolute; 
    right: 0;
    top: -74px;
}
.show .list > ul > li .detail .more a {
    width: 153px;
    line-height: 42px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: block;
    padding: 0 0 0 27px;
    position: relative; /* after 정렬의 기준 */
    transition: 0.2s;
    border-radius: 50px;
}
.show .list > ul > li .detail .more a::after {
    position: absolute;
    right: 15px;
    top: 8px;
    width: 28px;
    height: 28px;
    content: "";
    background-image: url(../images/main/arrow_r.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    transition: 0.5s;
}
.show .list > ul > li .detail .more a:hover {
    background: linear-gradient(to right, #FFC618, #FFA300);
    border: 0;
    color: #1d1d1d;
    font-weight: 700;
}
.show .list > ul > li .detail .more a:hover::after {
    background-image: url(../images/main/arrow_r_b.svg);
    animation-name: more; 
    animation-duration: 2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear;
}
@keyframes more {
    0% { transform:translate(0, 0) }
    50% { transform:translate(-10px, 0) }
    100% { transform:translate(0, 0) }
}

@media screen and (max-width:1640px){
    
    .show {
        margin: 110px 0 0 0;
        height: 700px;
    }
    .show .list ul{
        justify-content: center;
    }
    .show .list > ul > li > button {

        padding: 10px 34px;
    }
    .show .list > ul > li.active > button {
        transform: translateY(-8px);
    }
    .show .list > ul > li > button::before {
        right: -2px;
        top: 22px;
        height: 36px;
    }
    .show .list > ul > li .detail {
        top: 100px; /* tab버튼에서 부터의 측정 */
    }
    .show .list > ul > li .detail ul {
        justify-content:center;
    }
    .show .list > ul > li .detail ul li {
        width: 400px;
        margin-right: 20px;
    }
    .show .list > ul > li .detail ul li a span {
        width: 400px;
        height: 400px;
    }
    .show .list > ul > li .detail ul li a strong {
        margin: 30px 0 9px 0;
    }
    .show .list > ul > li .detail ul li a h3 {
        margin: 0 0 15px 0;
    }
     .show .list > ul > li .detail .more {
        position: absolute; 
        right: auto;
        top: auto;
        bottom: -70px;
        left: calc(50% - 70px);
    }
    .show .list > ul > li .detail .more a {
        width: 140px;
        line-height: 40px;
        padding: 0 0 0 24px;
    }
    .show .list > ul > li .detail .more a::after {
        right: 10px;
        top: 8px;
        width: 24px;
        height: 24px;
        background-size: 24px auto;
    }
}
@media screen and (max-width:1320px){
  
    .show {
        margin: 100px 0 0 0;
        height: 630px;
    }
    .show .list > ul > li > button {
        padding: 9px 32px;
    }
    .show .list > ul > li.active > button {
        transform: translateY(-6px);
    }
    .show .list > ul > li > button::before {
        right: -2px;
        top: 20px;
        height: 34px;
    }
    .show .list > ul > li .detail {
        top: 100px; /* tab버튼에서 부터의 측정 */
    }
    .show .list > ul > li .detail ul li {
        width: 330px;
        margin-right: 18px;
    }
    .show .list > ul > li .detail ul li a span {
        width: 330px;
        height: 330px;
    }
    .show .list > ul > li .detail ul li a strong {
        margin: 28px 0 8px 0;
    }
    .show .list > ul > li .detail ul li a h3 {
        margin: 0 0 14px 0;
    }
    .show .list > ul > li .detail .more {
        bottom: -65px;
        left: calc(50% - 65px);
    }
    .show .list > ul > li .detail .more a {
        width: 130px;
        line-height: 38px;
        padding: 0 0 0 22px;
    }
    .show .list > ul > li .detail .more a::after {
        right: 12px;
        top: 8px;
        width: 22px;
        height: 22px;
        background-size: 22px auto;
    }
}
@media screen and (max-width:1024px){
  
    .show {
        margin: 80px 0 0 0;
        height: 500px;
    }
    .show .list > ul > li > button {
        padding: 8px 30px;
    }
    .show .list > ul > li.active > button {
        transform: translateY(-6px);
    }
    .show .list > ul > li > button::before {
        right: -2px;
        top: 18px;
        height: 32px;
    }
    .show .list > ul > li .detail {
        top: 90px; /* tab버튼에서 부터의 측정 */
    }
    .show .list > ul > li .detail ul li {
        width: 240px;
        margin-right: 16px;
    }
    .show .list > ul > li .detail ul li a span {
        width: 240px;
        height: 240px;
    }
    .show .list > ul > li .detail ul li a strong {
        margin: 26px 0 7px 0;
    }
    .show .list > ul > li .detail ul li a h3 {
        margin: 0 0 13px 0;
    }
    .show .list > ul > li .detail .more {
        bottom: -60px;
        left: calc(50% - 60px);
    }
    .show .list > ul > li .detail .more a {
        width: 120px;
        line-height: 36px;
        padding: 0 0 0 20px;
    }
    .show .list > ul > li .detail .more a::after {
        right: 12px;
        top: 8px;
        width: 20px;
        height: 20px;
        background-size: 20px auto;
    }
}

@media screen and (max-width:768px){
    .show {
        margin: 70px 0 0 0;
        height: 400px;
    }
    .show .list > ul > li > button {
        padding: 7px 28px;
    }
    .show .list > ul > li.active > button {
        transform: translateY(-6px);
    }
    .show .list > ul > li > button::before {
        right: -2px;
        top: 18px;
        height: 30px;
    }
    .show .list > ul > li .detail {
        top: 80px; /* tab버튼에서 부터의 측정 */
    }
    .show .list > ul > li .detail ul li {
        width: 160px;
        margin-right: 14px;
    }
    .show .list > ul > li .detail ul li a span {
        width: 160px;
        height: 160px;
    }
    .show .list > ul > li .detail ul li a strong {
        margin: 24px 0 6px 0;
    }
    .show .list > ul > li .detail ul li a h3 {
        margin: 0 0 12px 0;
    }
    .show .list > ul > li .detail .more {
        bottom: -55px;
        left: calc(50% - 55px);
    }
    .show .list > ul > li .detail .more a {
        width: 110px;
        line-height: 34px;
        padding: 0 0 0 18px;
    }
    .show .list > ul > li .detail .more a::after {
        right: 10px;
        top: 8px;
        width: 18px;
        height: 18px;
        background-size: 18px auto;
    }
}
@media screen and (max-width:500px) {
    .show {
        margin: 60px 0 0 0;
        height: 1450px;
    }
    .show .list > ul > li > button {
        padding: 6px 28px;
    }
    .show .list > ul > li.active > button {
        transform: translateY(-6px);
    }
    .show .list > ul > li > button::before {
        right: -2px;
        top: 18px;
        height: 30px;
    }
    .show .list > ul > li .detail {
        top: 70px; /* tab버튼에서 부터의 측정 */
    }
    .show .list > ul > li .detail ul {
        display: block;
    }
    .show .list > ul > li .detail ul li {
        width: 100%;
        height: 100%;
        margin: 20px 20px 20px 0;
    }
    .show .list > ul > li .detail ul li a span {
        width: 100%;
        height: 100%;
    }
    .show .list > ul > li .detail ul li a strong {
        margin: 24px 0 6px 0;
    }
    .show .list > ul > li .detail ul li a h3 {
        margin: 0 0 12px 0;
    }
    .show .list > ul > li .detail .more {
        bottom: -40px;
        left: calc(50% - 55px);
    }
    .show .list > ul > li .detail .more a {
        width: 110px;
        line-height: 36px;
        padding: 0 0 0 18px;
    }
    .show .list > ul > li .detail .more a::after {
        right: 11px;
        top: 8px;
        width: 20px;
        height: 20px;
        background-size: 20px auto;
    }
}
.news {
    margin: 120px 0 0 0;
}
.news h2 {
    font-size: 2.941rem;
    font-weight: 700;
    margin-bottom: 32px;
}
.news ul li:first-child {
    border-top: 1px solid #fff;;
} 
.news ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}
.news ul li:last-child {
    border-bottom: 1px solid #fff;
}
.news ul li a {
    display: flex;
    align-items: center;
    line-height: 100px;
    font-size: 1rem;
    padding: 0 20px ; /* 위아래:0, 좌우:57px */
    transition: 1s;
}
.news ul li a em {
    color: #1d1d1d;
    font-size: 1.176rem;
    font-weight: 700;
    line-height: 24px;
    padding: 9px 25px;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.5s;
    width: 90px;
    text-align: center;
    margin-right: 30px;
}
.news ul li:hover a em {
    background: linear-gradient(to right, #FFC618, #FFA300);
    border: 0;
    font-weight: 700;
}
.news ul li a strong {
    margin: 0 20px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: calc(100% - 390px); 

}
.news ul li a span {
    color: rgba(255, 255, 255, 0.5);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin: 0 0 0 100px;
    width: 300px;
    text-align: right;
}
.news .inner {
    position: relative; /* more 정렬의 기준 */
}
.news .more {
    position: absolute;
    right: 0;
    top: 15px;
}
.news .more a {
    width: 153px;
    line-height: 42px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: block;
    padding: 0 0 0 27px;
    position: relative; /* after 정렬의 기준 */
    transition: 0.2s;
    border-radius: 50px;
}
.news .more a::after {
    position: absolute;
    right: 15px;
    top: 8px;
    width: 28px;
    height: 28px;
    content: "";
    background-image: url(../images/main/arrow_r.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    transition: 0.2s;
}
.news .more a:hover {
    background: linear-gradient(to right, #FFC618, #FFA300);
    border: 0;
    color: #1d1d1d;
    font-weight: 700;
}
.news .more a:hover::after {
    background-image: url(../images/main/arrow_r_b.svg);
    animation-name: more; 
    animation-duration: 2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear;
}
@keyframes more {
    0% { transform:translate(0, 0) }
    50% { transform:translate(-10px, 0) }
    100% { transform:translate(0, 0) }
}
@media screen and (max-width:1640px){
    .news {
        margin: 110px 0 0 0;
    }
    .news .inner > h2 {
        text-align: center;
        margin: 30px 40px 30px 40px; 
    }
    .news ul li {
        margin-bottom: 5px;
    }
    .news ul li a {
        line-height: 80px;
    }
    .news ul li a em {
        line-height: 22px;
        padding: 8px 23px;
    }
    .news ul li a span {
        margin: 0 0 0 150px;
        width: 250px;
    }
    .news .more {
        right: auto;
        top: auto;
        bottom: -70px;
        left: calc(50% - 70px);
    }
    .news .more a {
        width: 140px;
        line-height: 40px;
        padding: 0 0 0 24px;
    }
    .news .more a::after {
        right: 10px;
        top: 8px;
        width: 24px;
        height: 24px;
        background-size: 24px auto;
    }
}
@media screen and (max-width:1320px){
    .news {
        margin: 100px 0 0 0;
    }
    .news h2 {
        margin: 28px 38px 28px 38px; 
    }
    .news ul li {
        margin-bottom: 5px;
    }
    .news ul li a {
        line-height: 70px;
        padding: 0 30px; /* 위아래:0, 좌우:57px */
    }
    .news ul li a em {
        line-height: 22px;
        padding: 7px 21px;
        width: 80px;
    }
    .news ul li a span {
        margin: 0 0 0 100px;
        width: 220px;
    }
    .news .more {
        bottom: -65px;
        left: calc(50% - 65px);
    }
    .news .more a {
        width: 130px;
        line-height: 38px;
        padding: 0 0 0 22px;
    }
    .news .more a::after {
        right: 12px;
        top: 8px;
        width: 22px;
        height: 22px;
        background-size: 22px auto;
    }
}

@media screen and (max-width:1024px){
    .news {
        margin: 80px 0 0 0;
    }
    .news h2 {
        margin: 26px 36px 26px 36px; 
    }
    .news ul li {
        margin-bottom: 5px;
    }
    .news ul li a {
        line-height: 60px;
        padding: 0 24px; /* 위아래:0, 좌우:57px */
    }
    .news ul li a em {
        line-height: 20px;
        padding: 6px 20px;
    }
    .news ul li a span {
        margin: 0 0 0 80px;
        width: 200px;
    }
    .news .more {
        bottom: -60px;
        left: calc(50% - 60px);
    }
    .news .more a {
        width: 120px;
        line-height: 36px;
        padding: 0 0 0 20px;
    }
    .news .more a::after {
        right: 12px;
        top: 8px;
        width: 20px;
        height: 20px;
        background-size: 20px auto;
    }
}
@media screen and (max-width:768px){
    .news {
        margin: 70px 0 0 0;
    }
    .news h2 {
        margin: 24px 34px 24px 34px; 
    }
    .news ul li {
        margin-bottom: 5px;
    }
    .news ul li a {
        line-height: 50px;
        padding: 0 22px; /* 위아래:0, 좌우:57px */
    }
    .news ul li a em {
        line-height: 18px;
        padding: 5px 18px;
        width: 70px;
    }
    .news ul li a strong {
        width: calc(100% - 190px);
    }
    .news ul li a span {
        margin: 0 0 0 40px;
        width: 120px;
    }
    .news .more {
        bottom: -55px;
        left: calc(50% - 55px);
    }
    .news .more a {
        width: 110px;
        line-height: 34px;
        padding: 0 0 0 18px;
    }
    .news .more a::after {
        right: 10px;
        top: 8px;
        width: 18px;
        height: 18px;
        background-size: 18px auto;
    }
}
@media screen and (max-width:500px){
    .news {
        margin: 420px 0 0 0;
    }
    .news h2 {
        margin: 22px 20px 22px 20px; 
    }
    .news ul li {
        margin-bottom: 5px;
    }
    .news ul li a {
        line-height: 40px;
        padding: 0 20px; /* 위아래:0, 좌우:57px */
    }
    .news ul li a em {
        line-height: 16px;
        padding: 4px 16px;
    }
    .news ul li a strong {
        width: calc(100% - 170px);
    }
    .news ul li a span {
        margin: 0 0 0 20px;
        width: 100px;
    }
    .news .more {
        bottom: -55px;
        left: calc(50% - 55px);
    }
    .news .more a {
        width: 110px;
        line-height: 34px;
        padding: 0 0 0 18px;
    }
    .news .more a::after {
        right: 10px;
        top: 8px;
        width: 18px;
        height: 18px;
        background-size: 18px auto;
    }
}

.join {
    margin: 100px 0 0 0;
    overflow: hidden;
    padding: 20px 0 0 0;
}
.join .inner {
    position: relative; /* more 정렬의 기준 */
}
.join h2 {
    font-size: 2.941rem;
    font-weight: 700;
    margin: 0 0 32px 0;
}
.join .list.perfom {
    display: none;
}
.join .list ul {
    display: flex;
    justify-content: space-between;
}
.join .list ul li {
    width: 500px;
}
.join .list ul li a {
    display: block; 
}
.join .list ul li a span {
    display: block; 
    width: 500px;
    height: 100%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
    overflow: hidden; 
    transition: 0.5s;
}
.join .list ul li a span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.join .list ul li a:hover span img {
    transform: scale3d(1.2, 1.2, 1);
}
.join .list ul li a strong {
    display: block;
    margin: 32px 0 10px 0;
    font-size: 1.176rem;
    font-weight: 700;
}
.join .list ul li a h3 {
    font-size: 1.765rem;
    font-weight: 700;
    margin: 0 0 16px 0;
    white-space: nowrap; /* 줄바꿈 금지 */
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 1s;
}
.join .list ul li a:hover h3 {
    background: linear-gradient(to right top, #FFC618, #FFA300);
    color: transparent;
    -webkit-background-clip: text;
    transition: 0.5s;
}
.join .list ul li a p {
    /* 여러줄로 줄수를 제한하는 경우 */
    line-height: 1.2;
    height: 2.4em; /* 행간 * 줄수 */
    overflow: hidden;
}
.join .more {
    position: absolute; /* inner를 기준으로 */
    right: 0;
    top: 18px;
}
.join .more a {
    width: 153px;
    line-height: 42px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: block;
    padding: 0 0 0 27px;
    position: relative; /* after 정렬의 기준 */
    transition: 0.2s;
    border-radius: 50px;
}
.join .more a::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 15px;
    top: 8px;
    width: 28px;
    height: 28px;
    content: "";
    background-image: url(../images/main/arrow_r.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    transition: 0.2s;
}
.join .more a:hover {
    background: linear-gradient(to right, #FFC618, #FFA300);
    border: 0;
    color: #1d1d1d;
    font-weight: 700;
}
.join .more a:hover::after {
    background-image: url(../images/main/arrow_r_b.svg);
    animation-name: more; 
    animation-duration: 2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear;
}
@keyframes more {
    0% { transform:translate(0, 0) }
    50% { transform:translate(-10px, 0) }
    100% { transform:translate(0, 0) }
}
@media screen and (max-width:1640px){
    .join {
        padding: 30px 0 100px 0;
    }
    .join h2 {
        text-align: center;
        margin: 0 0 32px 0;
    }
    .join .list ul {
        justify-content:center;
    }
    .join .list ul li {
        width: 400px;
        margin-right: 20px;
    }
    .join .list ul li a span {
        width: 400px;
    }
    .join .list ul li a strong {
        margin: 28px 0 8px 0;
    }
    .join .list ul li a h3 {
        margin: 0 0 14px 0;
    }
    .join .more {
        right: auto;
        top: auto;
        bottom: -70px;
        left: calc(50% - 70px);
    }
    .join .more a {
        width: 140px;
        line-height: 40px;
        padding: 0 0 0 24px;
    }
    .join .more a::after {
        right: 10px;
        top: 8px;
        width: 24px;
        height: 24px;
        background-size: 24px auto;
    }
}
@media screen and (max-width:1320px) {
    .join .tit h2 {
        width: 260px;
        margin: 0 0 28px 38px;
    }
    .join .list ul li {
        width: 330px;
        margin-right: 18px;
    }
    .join .list ul li a span {
        width: 330px;
    }
    .join .list ul li a strong {
        margin: 28px 0 8px 0;
    }
    .join .list ul li a h3 {
        margin: 0 0 14px 0;
    }
    .join .more {
        right: auto;
        top: auto;
        bottom: -70px;
        left: calc(50% - 70px);
    }
    .join .more a {
        width: 140px;
        line-height: 40px;
        padding: 0 0 0 24px;
    }
    .join .more a::after {
        right: 10px;
        top: 8px;
        width: 24px;
        height: 24px;
        background-size: 24px auto;
    }
}
@media screen and (max-width:1024px){
    .join .tit h2 {
        width: 240px;
        margin: 0 0 26px 36px;
    }
    .join .list ul li {
        width: 240px;
        margin-right: 16px;
    }
    .join .list ul li a span {
        width: 240px;
    }
    .join .list ul li a strong {
        margin: 26px 0 7px 0;
    }
    .join .list ul li a h3 {
        margin: 0 0 13px 0;
    }
    .join .more {
        right: auto;
        top: auto;
        bottom: -70px;
        left: calc(50% - 70px);
    }
    .join .more a {
        width: 140px;
        line-height: 40px;
        padding: 0 0 0 24px;
    }
    .join .more a::after {
        right: 10px;
        top: 8px;
        width: 24px;
        height: 24px;
        background-size: 24px auto;
    }
}
@media screen and (max-width:768px){
    .join .tit h2 {
        width: 220px;
        margin: 0 0 24px 34px;
    }
    .join .list ul li {
        width: 160px;
        margin-right: 14px;
    }
    .join .list ul li a span {
        width: 160px;
    }
    .join .list ul li a strong {
        margin: 24px 0 6px 0;
    }
    .join .list ul li a h3 {
        margin: 0 0 13px 0;
    }
    .join .more {
        right: auto;
        top: auto;
        bottom: -70px;
        left: calc(50% - 70px);
    }
    .join .more a {
        width: 140px;
        line-height: 40px;
        padding: 0 0 0 24px;
    }
    .join .more a::after {
        right: 10px;
        top: 8px;
        width: 24px;
        height: 24px;
        background-size: 24px auto;
    }
}
@media screen and (max-width:500px) {
    .join .tit h2 {
        width: 220px;
        margin: 0 0 24px 34px;
    }
    .join .list ul {
        display: block;
    }
    .join .list ul li {
        width: 100%;
        margin: 20px 20px 20px 0;
    }
    .join .list ul li a span {
        width: 100%;
    }
    .join .list ul li a strong {
        margin: 24px 0 6px 0;
    }
    .join .list ul li a h3 {
        margin: 0 0 12px 0;
    }
    .join .more {
        right: auto;
        top: auto;
        bottom: -70px;
        left: calc(50% - 70px);
    }
    .join .more a {
        width: 140px;
        line-height: 40px;
        padding: 0 0 0 24px;
    }
    .join .more a::after {
        right: 10px;
        top: 8px;
        width: 24px;
        height: 24px;
        background-size: 24px auto;
    }
}
.rental {
    margin: 120px 0 0 0;
}
.rental h2 {
    width: 300px;
    font-size: 2.941rem;
    font-weight: 700;
    margin: 0 0 32px 0;
}
.rental .swiper .swiper-wrapper {
    align-items: flex-start; /* li의 높이가 다를때 아래 정렬 */
    width: 4000px;
    height: 815px;
    padding-bottom: 30px;
    box-shadow: 0 2px 10px 0px #848484;
}
.rental .swiper .swiper-wrapper li{
    width: 1020px;
}
.rental .swiper-wrapper li > a > .photo {
    position: relative;
    width: 1020px;
    height: 560px;
}
.rental .swiper-wrapper li > a > .photo img{
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
}
.rental .swiper-wrapper li > a > .cnt {
    position: absolute;
    left: 0;
    bottom: 255px;
    background-color: #182932;
    width: 1020px;
    height: 110px;
    padding: 30px 40px 0 40px;
}
.rental .swiper-wrapper li > a > .cnt h3{
    font-size: 1.765rem;
    font-weight: 700;
}
.rental .swiper-wrapper li > a > .cnt > ul{
    margin: 30px 0 0 0;
    width: 900px;
    height: 170px;
    display: flex;
}
.rental .swiper-wrapper li > a > .cnt > ul,
.rental .swiper-wrapper li > a > .cnt > .btn {
    opacity: 0;
}
.rental .swiper-wrapper li > a > .cnt > ul > li {
    display: block;
    line-height: 50px;
}
.rental .swiper-wrapper li > a > .cnt > ul > li:first-child {
    width: 200px;
}
.rental .swiper-wrapper li > a > .cnt > ul > li:last-child {
    width: 200px
}
.rental .swiper-wrapper li > a > .cnt > ul > li > strong{
    display: block;
    font-weight: 700;
}
.rental .swiper-wrapper li > a > .cnt > ul > li > span{
    display: block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.rental .swiper-wrapper li > a > .cnt > ul > li.btn {
    display: block;
    padding: 5px;
}
.rental .swiper-wrapper li > a > .cnt > ul > li.btn > span {
    text-overflow: unset;
    display: block;
    width: 167px;
    line-height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: block;
    padding: 0 30px 0 30px;
    position: relative; /* after 정렬의 기준 */
    transition: 0.2s;
    border-radius: 50px;
    font-size: 1.176rem;
    font-weight: 700;
    margin-bottom: 17px;
}
.rental .swiper-wrapper li > a > .cnt > ul > li.btn > span::after  {
    position: absolute; /* a를 기준으로 정렬 */
    right: 25px;
    top: 15px;
    width: 28px;
    height: 28px;
    content: "";
    background-image: url(../images/main/arrow_r.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    transition: 0.2s;
}
.rental .swiper-wrapper li > a > .cnt > ul > li.btn > span:last-child {
    background: linear-gradient(to right, #FFC618, #FFA300);
    color: #1d1d1d;
    border: 0;
} 
.rental .swiper-wrapper li > a > .cnt > ul > li.btn > span:last-child:after {
    background-image: url(../images/main/arrow_r_b.svg);
}
.rental .swiper-wrapper li > a > .cnt > ul > li.btn > span:last-child:hover:after {
    background-image: url(../images/main/arrow_r_b.svg);
    animation-name: more; 
    animation-duration: 2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear;
}
@keyframes more {
    0% { transform:translate(0, 0) }
    50% { transform:translate(-10px, 0) }
    100% { transform:translate(0, 0) }
}
/*active*/
.rental .swiper {
    position: relative;
}
.rental .swiper ul li.swiper-slide-active .photo {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);   
}
.rental .swiper ul li.swiper-slide-active .photo img {
    filter: grayscale(0%); 
}
.rental .swiper ul li.swiper-slide-active .cnt {
    left: 0;
    bottom: 0;
    background-color: #182932;
    width: 1020px;
    height: 370px;
    padding: 60px 70px 0 70px;
    border-radius: 80px 0 80px 0;
}
.rental .swiper-wrapper li.swiper-slide-active > a > .cnt > ul,
.rental .swiper-wrapper li.swiper-slide-active > a >.cnt > ul > li.btn {
    opacity: 100;
    transition: 3s;
}


@media screen and (max-width:1640px){
    .rental {
        margin: 110px 0 0 0;
    }
    .rental h2 {
        margin: 32px auto;
        text-align: center;
    }
    .rental .swiper .swiper-wrapper {
        width: 2500px;
        height: 815px;
        padding-bottom: 30px;
    }
    .rental .swiper .swiper-wrapper li{
        width: 800px;
    }
    .rental .swiper-wrapper li > a > .photo {
        width: 800px;
        height: auto;
    }
    .rental .swiper-wrapper li > a > .cnt {
        left: 0;
        bottom: 255px;
        width: 800px;
        height: 100px;
        padding: 30px 40px 0 40px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul{
        margin: 30px 0 0 0;
        width: 700px;
        height: 170px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li {
        display: block;
        line-height: 45px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li:first-child {
        width: 250px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li:last-child {
        width: 200px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn {
        padding: 5px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn > span {
        width: 167px;
        line-height: 50px;
        padding: 0 30px 0 30px;
        margin-bottom: 17px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn > span::after {
        right: 25px;
        top: 15px;
        width: 28px;
        height: 28px;
    }
    /*active*/
    .rental .swiper ul li.swiper-slide-active .cnt {
        left: 0;
        bottom: 50px;
        width: 800px;
        height: 370px;
        padding: 60px 70px 0 70px;
        border-radius: 50px 0 50px 0;
    }
}
@media screen and (max-width:1320px){
    .rental {
        margin: 100px 0 0 0;
    }
    .rental .swiper .swiper-wrapper {
        width: 2100px;
        height: 700px;
        padding-bottom: 30px;
    }
    .rental .swiper .swiper-wrapper li{
        width: 600px;
    }
    .rental .swiper-wrapper li > a > .photo {
        width: 600px;
    }
    .rental .swiper-wrapper li > a > .cnt {
        left: 0;
        bottom: 300px;
        width: 600px;
        height: 100px;
        padding: 20px 30px 0 30px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul{
        margin: 20px 0 0 0;
        width: 600px;
        height: 170px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li {
        display: block;
        line-height: 45px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li:first-child {
        width: 120px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li:last-child {
        width: 300px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn {
        padding: 5px;
        position: absolute;
        left: calc(50% - 150px);
        bottom: 20px;
        display: flex;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn > span {
        width: 167px;
        line-height: 40px;
        padding: 0 30px 0 20px;
        margin: 0 10px 17px 10px;
        text-overflow: none; 
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn > span::after {
        right: 11px;
        top: 10px;
        width: 20px;
        height: 20px;
        background-size: 20px auto;
    }
    /*active*/
    .rental .swiper ul li.swiper-slide-active .cnt {
        left: 0;
        bottom: 50px;
        width: 600px;
        height: 400px;
        padding: 50px 50px 0 50px;
        border-radius: 40px 0 40px 0;
    }
}
@media screen and (max-width:1024px){
    .rental {
        margin: 80px 0 0 0;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn > span::after {
        right: 18px;
    }
}
@media screen and (max-width:768px){
    .rental {
        margin: 60px 0 0 0;
    }
    .rental .swiper .swiper-wrapper {
        width: 1400px;
        height: 600px;
        padding-bottom: 30px;
    }
    .rental .swiper .swiper-wrapper li{
        width: 400px;
    }
    .rental .swiper-wrapper li > a > .photo {
        width: 400px;
    }
    .rental .swiper-wrapper li > a > .cnt {
        left: 0;
        bottom: 300px;
        width: 400px;
        height: 80px;
        padding: 20px 30px 0 30px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul{
        margin: 20px 0 0 0;
        width: 400px;
        height: 170px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li {
        display: block;
        line-height: 45px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li:first-child {
        width: 100px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li:last-child {
        width: 300px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li > span{
        width: 250px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn {
        padding: 5px;
        position: absolute;
        left: calc(50% - 150px);
        bottom: 20px;
        display: flex;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn > span {
        width: 167px;
        line-height: 35px;
        padding: 0 30px 0 30px;
        margin: 0 10px 17px 10px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn > span::after {
        right: 15px;
        top: 10px;
        width: 20px;
        height: 20px;
        background-size: 20px auto;
    }
    /*active*/
    .rental .swiper ul li.swiper-slide-active .cnt {
        left: 0;
        bottom: 30px;
        width: 400px;
        height: 370px;
        padding: 50px 40px 0 40px;
        border-radius: 40px 0 40px 0;
    }
}
@media screen and (max-width:500px){
    .rental {
        margin: 60px 0 0 0;
    }
    .rental .swiper .swiper-wrapper {
        width: 900px;
        height: 380px;
        padding-bottom: 30px;
    }
    .rental .swiper .swiper-wrapper li{
        width: 250px;
    }
    .rental .swiper-wrapper li > a > .photo {
        width: 250px;
    }
    .rental .swiper-wrapper li > a > .cnt {
        left: 0;
        bottom: 220px;
        width: 250px;
        height: 60px;
        padding: 20px 30px 0 30px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul{
        margin: 20px 0 0 0;
        width: 250px;
        height: 170px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li {
        display: block;
        line-height: 30px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li:first-child {
        width: 100px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li:last-child {
        width: 220px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li > span{
        width: 150px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn {
        padding: 5px;
        position: absolute;
        left: calc(50% - 120px);
        bottom: 0;
        display: flex;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn > span {
        width: 167px;
        line-height: 30px;
        padding: 0 25px 0 10px;
        margin: 0 10px 17px 10px;
    }
    .rental .swiper-wrapper li > a > .cnt > ul > li.btn > span::after {
        right: 5px;
        top: 7px;
        width: 16px;
        height: 16px;
        background-size: 16px auto;
    }
    /*active*/
    .rental .swiper ul li.swiper-slide-active .cnt {
        left: 0;
        bottom: 10px;
        width: 250px;
        height: 260px;
        padding: 30px 30px 0 30px;
        border-radius: 20px 0 20px 0;
    }
}
.sponsor {
    margin: 120px 0 120px 0;
}

.sponsor h2 {
    font-size: 0;
    line-height: 0;
}
.sponsor .list .swiper {
    width: auto;
}
.sponsor .list ul li {
    width: 240px;
}
.sponsor .list ul li a {
    display: block;
}
.sponsor .list ul li a .photo {
    display: block;
}
.sponsor .list ul li a {
    display: block;
    text-align: center;
    overflow: hidden;
}
.sponsor .list ul li a .photo img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}


@media screen and (max-width:1640px){
    .sponsor {
        margin: 60px 0 100px 0;
    }
    .sponsor .list ul li {
        width: 220px;
    }
    .sponsor .list ul li a {
        display: block;
        width: 200px;
        height: 100%;
    }
}
@media screen and (max-width:1320px){
    .sponsor {
        margin: 40px 0 80px 0;
    }
    .sponsor .list ul li {
        width: 200px;
    }
    .sponsor .list ul li a {
        display: block;
        width: 200px;
        height: 100%;
    }
}
@media screen and (max-width:1024px){
    .sponsor {
        margin: 20px 0 70px 0;
    }
    .sponsor .list ul li {
        width: 180px;
    }
    .sponsor .list ul li a {
        display: block;
        width: 180px;
        height: 100%;
    }
}
@media screen and (max-width:768px){
    .sponsor {
        margin: 10px 0 60px 0;
    }
    .sponsor .list ul li {
        width: 160px;
    }
    .sponsor .list ul li a {
        display: block;
        width: 160px;
        height: 100%;
    }
}