@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*
    파일명 : main.css
    작성자 : 윤서하
    작성일 : 24.04.10
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/
/* 
.visual .video_container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: 0;
}
.visual video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
} */

.visual video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
} 

@media screen and (max-width:1640px){
  
}
@media screen and (max-width:1320px){
   
}

@media screen and (max-width:1024px){
    
}
@media screen and (max-width:768px){
   
}
@media screen and (max-width:500px){
   
}

.container .side_btn {
    position: relative;
}
.side_btn aside.reserve button {
    position: absolute;
    right: 93px;
    top: 30px;
    width: 57px;
    height: 57px;
    border-radius: 100%;
    background-color: #e80e50;
    color: #fff;
    text-align: center;
    padding-top: 25px;
}
.side_btn aside.reserve button::before {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24' fill='%23fff'%3E%3Cpath d='M434.5-808.131v481.979L215.761-544.891 151.869-480 480-151.869 808.131-480l-63.892-64.891L525.5-326.152v-481.979h-91Z'/%3E%3C/svg%3E");
    transform: rotate(180deg);
    content: "";
}

.side_btn aside.side button {
    position: absolute;
    right: 0;
    top: 30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #fff;
    font-size: 0;
    line-height: 0;
}
.side_btn aside.side button::before {
    position: absolute;
    left: 0;
    top: 10px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/main/top.svg);
    content: "";
}

@media screen and (max-width:1640px){
    aside.quick {
        top: 100px;
    }
    aside.quick ul li {
        margin-top: 25px;
    }
    aside.quick ul li a {
        width: 88px;
        height: 88px;
        padding-top: 50px;
    }
    aside.quick ul li a::before {
        top: 16px;
        width: 100%;
    }
        
    aside.top button {
        right: 15px;
        top: -80px;
        width: 50px;
    }
    aside.top button span {
        line-height: 30px;
    }
}
@media screen and (max-width:1024px){
    aside.quick {
        top: 50px;
    }
    aside.quick ul li {
        margin-top: 20px;
    }  
    aside.top button {
        right: 15px;
        top: -65px;
        width: 40px;
    }
    aside.top button span {
        line-height: 28px;
    }
}

@media screen and (max-width:768px){
    aside.quick {
        display: none;
    }
    aside.top button {
        right: 15px;
        top: -60px;
        width: 30px;
    }
    aside.top button span {
        line-height: 20px;
    }
}
.show .slogan {
    position: absolute;
    left: 20px;
    top: -60px;
    z-index: 10;
    mix-blend-mode: difference;
    animation:slogan_rotate; 
    animation-duration:10s; 
    animation-timing-function:linear; 
    animation-iteration-count:infinite;
}
@keyframes slogan_rotate {
    0% { transform:rotate(0) }
    100% { transform:rotate(-360deg) }
}
.show {
    margin: 120px 0 120px 0;
    height: 750px;
}
.show .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.show h2 {
    font-size: 0;
    line-height: 0;
}
.show .list ul{
    display: flex;
}
.show .list > ul > li > button {
    padding: 12px 37px;
    font-size: 50px;
    font-weight: 700;
    position: relative;
    transition: 0.5s;
}
.show .list > ul > li.active > button {
    border-color: #FEC619;
    box-shadow: 0 0.5em 0.5em -0.4em #ffc619;
    transform: translateY(-10px);
}
.show .list > ul > li > button::before {
    position: absolute;
    right: -2px;
    top: 22px;
    width: 1px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
}
.show .list > ul > li > button.last:before {
    display: none;
}
.show .list > ul > li .detail {
    position: absolute;
    left: 0;
    top: 100px; /* tab버튼에서 부터의 측정 */
    width: 100%;
    display: none;
}
.show .list > ul > li.active .detail {
    display: block;
}
.show .list > ul > li .detail ul {
    display: flex;
    justify-content: space-between;
}
.show .list > ul > li .detail ul li {
    width: 500px;
}
.show .list > ul > li .detail ul li a {
    display: block;
}
.show .list > ul > li .detail ul li a span {
    display: block;
    width: 500px;
    height: 500px;
    overflow: hidden; 
}
.show .list > ul > li .detail ul li a span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.show .list > ul > li .detail ul li a:hover span img {
    transform: scale3d(1.2, 1.2, 1);
}
.show .list > ul > li .detail ul li a strong {
    display: block;
    margin: 32px 0 10px 0;
    font-size: 20px;
    font-weight: 700;
}
.show .list > ul > li .detail ul li a h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 16px 0;
    white-space: nowrap; /* 줄바꿈 금지 */
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s;
}
.show .list > ul > li .detail ul li a:hover h3 {
    box-shadow: 0 0.5em 0.5em -0.4em #ffc619;
    transform: translateY(-10px);
}
.show .list > ul > li .detail .more {
    position: absolute; 
    right: 0;
    top: -74px;
}
.show .list > ul > li .detail .more a {
    width: 153px;
    line-height: 42px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: block;
    padding: 0 0 0 27px;
    position: relative; /* after 정렬의 기준 */
    transition: 0.2s;
    border-radius: 50px;
}
.show .list > ul > li .detail .more a::after {
    position: absolute;
    right: 15px;
    top: 8px;
    width: 28px;
    height: 28px;
    content: "";
    background-image: url(../images/main/arrow_r.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    transition: 0.5s;
}
.show .list > ul > li .detail .more a:hover {
    background: linear-gradient(to right, #FFC618, #FFA300);
    border: 0;
    color: #1d1d1d;
    font-weight: 700;
}
.show .list > ul > li .detail .more a:hover::after {
    background-image: url(../images/main/arrow_r_b.svg);
    animation-name: more; 
    animation-duration: 2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear;
}
@keyframes more {
    0% { transform:translate(0, 0) }
    50% { transform:translate(-10px, 0) }
    100% { transform:translate(0, 0) }
}
.news h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 32px;
}
.news ul li:first-child {
    border-top: 1px solid #fff;;
} 
.news ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}
.news ul li:last-child {
    border-bottom: 1px solid #fff;
}
.news ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100px;
    font-size: 17px;
    padding: 0 57px; /* 위아래:0, 좌우:57px */
    transition: 1s;
}
.news ul li a em {
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    padding: 9px 25px;
    background-color: #fff;
    border-radius: 50px;
    transition: 1s;
}
.news ul li:hover a em {
    background: linear-gradient(to right, #FFC618, #FFA300);
    border-color: #FEC619;
    box-shadow: 0 0.5em 0.5em -0.4em #ffc619;
    transform: translateY(-10px);
}
.news ul li a strong {
    width: 1150px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 

}
.news ul li a span {
    color: rgba(255, 255, 255, 0.5);
}
.news .inner {
    position: relative; /* more 정렬의 기준 */
}
.news .more {
    position: absolute;
    right: 0;
    top: 15px;
}
.news .more a {
    width: 153px;
    line-height: 42px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: block;
    padding: 0 0 0 27px;
    position: relative; /* after 정렬의 기준 */
    transition: 0.2s;
    border-radius: 50px;
}
.news .more a::after {
    position: absolute;
    right: 15px;
    top: 8px;
    width: 28px;
    height: 28px;
    content: "";
    background-image: url(../images/main/arrow_r.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    transition: 0.2s;
}
@media screen and (max-width:1640px){

}
@media screen and (max-width:1320px){

}

@media screen and (max-width:1024px){


}
@media screen and (max-width:768px){

}

.join {
    margin: 120px 0 120px 0;
    overflow: hidden;
}
.join .inner {
    position: relative; /* more 정렬의 기준 */
}
.join .tit h2 {
    width: 300px;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 32px 0;
    box-shadow: 0 0.5em 0.5em -0.4em #ffc619;
    transform: translateY(-10px);
}
.join .list.perfom {
    display: none;
}
.join .list ul {
    display: flex;
    justify-content: space-between;
}
.join .list ul li {
    width: 500px;
}
.join .list ul li a {
    display: block; 
}
.join .list ul li a span {
    display: block; 
    height: 728px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
    overflow: hidden; 
    transition: 0.5s;
}
.join .list ul li a span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.join .list ul li a:hover span img {
    transform: scale3d(1.2, 1.2, 1);
}
.join .list ul li a strong {
    display: block;
    margin: 32px 0 10px 0;
    font-size: 20px;
    font-weight: 700;
}
.join .list ul li a h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 16px 0;
    white-space: nowrap; /* 줄바꿈 금지 */
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 1s;
}
.join .list ul li a:hover h3 {
    margin: 0 0 32px 0;
    box-shadow: 0 0.5em 0.5em -0.4em #ffc619;
    transform: translateY(-10px);
}
.join .list ul li a p {
    /* 여러줄로 줄수를 제한하는 경우 */
    line-height: 1.2;
    height: 2.4em; /* 행간 * 줄수 */
    overflow: hidden;
}
.join .more {
    position: absolute; /* inner를 기준으로 */
    right: 0;
    top: 18px;
}
.join .more a {
    width: 153px;
    line-height: 42px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: block;
    padding: 0 0 0 27px;
    position: relative; /* after 정렬의 기준 */
    transition: 0.2s;
    border-radius: 50px;
}
.join .more a::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 15px;
    top: 8px;
    width: 28px;
    height: 28px;
    content: "";
    background-image: url(../images/main/arrow_r.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    transition: 0.2s;
}
.join .more a:hover {
    background: linear-gradient(to right, #FFC618, #FFA300);
    border: 0;
    color: #1d1d1d;
    font-weight: 700;
}
.join .more a:hover::after {
    background-image: url(../images/main/arrow_r_b.svg);
    animation-name: more; 
    animation-duration: 2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear;
}
@keyframes more {
    0% { transform:translate(0, 0) }
    50% { transform:translate(-10px, 0) }
    100% { transform:translate(0, 0) }
}
@media screen and (max-width:1640px){
   
}
@media screen and (max-width:1320px) {
  
}
@media screen and (max-width:1024px){
   
}
@media screen and (max-width:768px){
 
}
@media screen and (max-width:500px) {
  
}
.rental {
    margin: 120px 0 0 0;
}
.rental h2 {
    width: 300px;
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 32px 0;
    box-shadow: 0 0.5em 0.5em -0.4em #ffc619;
    transform: translateY(-10px);
}
.rental .swiper .swiper-wrapper {
    align-items: flex-start; /* li의 높이가 다를때 아래 정렬 */
    width: 4000px;
    height: 815px;
    padding-bottom: 30px;
    box-shadow: 0 2px 10px 0px #848484;
}
.rental .swiper .swiper-wrapper li{
    width: 1020px;
}
.rental .swiper-wrapper li > a > .photo {
    position: relative;
    width: 1020px;
    height: 560px;
}
.rental .swiper-wrapper li > a > .photo img{
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
}
.rental .swiper-wrapper li > a > .cnt {
    position: absolute;
    left: 0;
    bottom: 255px;
    background-color: #182932;
    width: 1020px;
    height: 110px;
    padding: 30px 40px 0 40px;
}
.rental .swiper-wrapper li > a > .cnt h3{
    font-size: 30px;
    font-weight: 700;
}
.rental .swiper-wrapper li > a > .cnt > ul{
    margin: 30px 0 0 0;
    width: 516px;
    height: 170px;
    display: flex;
}
.rental .swiper-wrapper li > a > .cnt > ul,
.rental .swiper-wrapper li > a > .cnt > .btn {
    opacity: 0;
}
.rental .swiper-wrapper li > a > .cnt > ul > li {
    display: block;
    line-height: 50px;
}
.rental .swiper-wrapper li > a > .cnt > ul > li > strong{
    display: block;
    font-weight: 700;
}
.rental .swiper-wrapper li > a > .cnt > ul > li > span{
    display: block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.rental .swiper-wrapper li > a > .cnt > .btn {
    position: absolute;
    right: 90px;
    top: 124px;
    padding: 5px;
}
.rental .swiper-wrapper li > a > .cnt > .btn button {
    display: block;
    width: 167px;
    line-height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    display: block;
    padding: 0 30px 0 0;
    position: relative; /* after 정렬의 기준 */
    transition: 0.2s;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 17px;
}
.rental .swiper-wrapper li > a > .cnt > .btn button::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 25px;
    top: 15px;
    width: 28px;
    height: 28px;
    content: "";
    background-image: url(../images/main/arrow_r.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px auto;
    transition: 0.2s;
}
.rental .swiper-wrapper li > a > .cnt > .btn button:last-child {
    background: linear-gradient(to right, #FFC618, #FFA300);
    color: #1d1d1d;
    border: 0;
} 
.rental .swiper-wrapper li > a > .cnt > .btn button:last-child:after {
    background-image: url(../images/main/arrow_r_b.svg);
}
.rental .swiper-wrapper li > a > .cnt > .btn button:last-child:hover:after {
    background-image: url(../images/main/arrow_r_b.svg);
    animation-name: more; 
    animation-duration: 2s; 
    animation-iteration-count:infinite; 
    animation-timing-function:linear;
}
@keyframes more {
    0% { transform:translate(0, 0) }
    50% { transform:translate(-10px, 0) }
    100% { transform:translate(0, 0) }
}
/*active*/
.rental .swiper {
    position: relative;
}
.rental .swiper ul li.swiper-slide-active .photo {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);   
}
.rental .swiper ul li.swiper-slide-active .photo img {
    filter: grayscale(0%); 
}
.rental .swiper ul li.swiper-slide-active .cnt {
    left: 0;
    bottom: 0;
    background-color: #182932;
    width: 1020px;
    height: 370px;
    padding: 60px 70px 0 70px;
    border-radius: 80px 0 80px 0;
}
.rental .swiper-wrapper li.swiper-slide-active > a > .cnt > ul,
.rental .swiper-wrapper li.swiper-slide-active > a > .cnt > .btn {
    opacity: 100;
    transition: 3s;
}



@media screen and (max-width:1640px){
    
}
@media screen and (max-width:1320px){
   
}
@media screen and (max-width:1024px){
   
}
@media screen and (max-width:768px){
    
}
.sponsor {
    margin: 120px 0 120px 0;
}

.sponsor h2 {
    font-size: 0;
    line-height: 0;
}
.sponsor .list .swiper {
    width: auto;
}
.sponsor .list ul li {
    width: 240px;
}
.sponsor .list ul li a {
    display: block;
}
.sponsor .list ul li a .photo {
    display: block;
}
.sponsor .list ul li a {
    display: block;
    text-align: center;
    overflow: hidden;
}
.sponsor .list ul li a .photo img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

@media screen and (max-width:1640px){
    
}
@media screen and (max-width:1320px){
   
}
@media screen and (max-width:1024px){
   
}
@media screen and (max-width:768px){
    
}