@charset "utf-8"; /* 이css문서는 UTF-8방식으로 인코딩 되어 있습니다. */
/* 영문웹폰트 */
@import url('//fonts.googleapis.com/earlyaccess/kopubbatang.css');
/* 한글웹폰트 */

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard SemiBold'), url(../fonts/Pretendard-SemiBold.woff) format('woff'), url(../fonts/Pretendard-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff) format('woff'), url(../fonts/Pretendard-Regular.woff2) format('woff2');
}


*::selection {
    background-color: #003348;
    color: #fff;
}
*::-moz-selection { 
    background-color: #003348;
    color: #fff;
}
html, body {
    font-family: 'Pretendard', sans-serif; 
    font-size: 17px;
    color: #1d1d1d; 
    font-weight: 400;
    line-height: 1.2; 
    word-break: keep-all; 
    word-wrap: break-word; 
    height: 100%;
}

body {
    background-size: cover;
    background-position: 50% 0;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
  }

body.main {
    background-image: url(../images/common/main_bg.jpg);
}
body.photo {
    background-image: url(../images/common/photo_bg.jpg);
}
body.chat {
    background-image: url(../images/common/chat_bg.jpg);
}
body.alert {
    background-image: url(../images/common/alert_bg.jpg);
}
body.more {
    background-image: url(../images/common/more_bg.jpg);
}

body .main_move {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 30px;
    font-size: 120px;
    color: rgba(255,255,255,0.1);
    white-space: nowrap; /* 한줄로 */
    animation:rolling; 
    animation-duration:20s; /* 1바퀴 돌때 걸리는 시간 */
    animation-timing-function:linear; /* 균일한 속도 */
    animation-iteration-count:infinite; /* 무한반복 */

}

@keyframes rolling {
    0% { transform: translate(0, 0); }
    100% { transform: translate( -50%, 0) } /* 글자가 움직여서 처음과 동일한 위치가 되는 값 (동일한 문장을 여러번 쓰기 때문에 3-4번째 문장이 다시 시작하는 위치로 하면 됨) */
}

p, a, h1, h2, h3, h4, h5, h6 {
    transform: skew(-0.1deg);
}

.wrapper { 
    width: 550px; 
    margin: 0 auto;  
}
#wrap {
    width: 550px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 2;
}



.skipnav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 1000000000000;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #F51919;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}
.skipnav a[href="#gnb"] {
    background-color: #1d1d1d;
}
.skipnav a:focus {
    top: 100px;
}

/*
    파일명 : common.css
    작성자 : 윤서하
    작성일 : 24.04.22
    설  명 : 홈페이지 전체에 공통으로 적용되는 스타일을 저장
             문자스타일 등의 기본스타일만 저장

*/